<ion-header>
  <ion-toolbar>
    <ion-title> Инструменты </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="noContent; else elseblock">
    Похоже что информации о правилах нет на устройстве. Перейдите во вкладку
    "домой" и нажмите на кнопку "Синхронизировать данные"
  </section>
  <ng-template #elseblock>
    <section>
      <ion-button
        *ngFor="let tool of listOfTools"
        color="light"
        expand="block"
        size="large"
        [routerLink]="[tool.path]"
        >{{tool.name}}</ion-button
      >
    </section>
  </ng-template>
</ion-content>
