<ion-header>
  <ion-toolbar class="larp-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goHome()" class="arrow-button"> </ion-button>
    </ion-buttons>

    <ion-title> Инструменты </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="tools-page">
  <section *ngIf="noContent; else elseblock">
    Похоже что информации об инструментах нет на устройстве. Перейдите во
    вкладку "домой" и нажмите на кнопку "Синхронизировать данные"
  </section>

  <ng-template #elseblock>
    <section>
      <ion-button
        class="custom-button-big"
        *ngFor="let tool of listOfTools"
        expand="block"
        size="large"
        [routerLink]="[tool.path]"
      >
        {{tool.name}}
      </ion-button>
    </section>
  </ng-template>
</ion-content>
