<ion-header>
  <ion-toolbar>
    <ion-title class="with-icon"> Инструменты </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="noContent; else elseblock">
    Похоже что информации об инструментах нет на устройстве. Перейдите во вкладку
    "домой" и нажмите на кнопку "Синхронизировать данные"
  </section>

  <ng-template #elseblock>
    <section>
      <ion-button
        class="custom-button-big"
        *ngFor="let tool of listOfTools"
        expand="block"
        size="large"
        [routerLink]="[tool.path]">{{tool.name}}</ion-button>
    </section>
  </ng-template>
</ion-content>
