ion-content {
  section#scan,
  section#scan-result,
  section#fail-result,
  section#success-result {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  section#scan {
    ion-button.custom-large {
      height: 200px;
      width: 200px;

      ion-icon {
        font-size: 9em;
      }
    }
  }

  section#scan-result {
    ion-input {
      background: #f4f5f8;
      color: #000;
      padding: 5px 10px !important;
      margin: 15px 0;
      border: 1px solid #d7d8da;
      border-radius: 4px;
    }

    #buttons {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      width: 100%;
    }
  }

  section#fail-result {
    color: red;
  }

  section#success-result {
    height: 100%;
    .card {
      position: relative;
      top: 10px;
      height: auto;
      width: 80%;
      margin: 0 auto;
      transition: transform 2s;
      transform-style: preserve-3d;

      &-back {
        transform: rotateY(180deg);
      }

      &-front,
      &-back {
        position: absolute;
        backface-visibility: hidden;

        .result {
          position: absolute;
          top: 50%;
          left: 50%;
          background-color: #ffffff8f;
          padding: 0px 35px;
          width: 100%;
          font-size: 3vw;
          box-shadow: 0px 0px 30px 30px #ffffff8f;
          transform: translate(-50%, -50%);
          -webkit-box-shadow: 0px 0px 30px 30px #ffffff8f;
          -moz-box-shadow: 0px 0px 30px 30px #ffffff8f;
          box-shadow: 0px 0px 30px 30px #ffffff8f;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    span {
      color: rgb(133, 133, 133);
      font-size: 2vw;
    }
  }
}
