<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Врачебный инструмент </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section id="scan">
    <h4>Нажмите для сканирования:</h4>

    <ion-button color="light" class="custom-large">
      <ion-icon slot="icon-only" name="scan-outline"></ion-icon>
    </ion-button>
  </section>
</ion-content>
