ion-content {
  section#scan,
  section#scan-result,
  section#fail-result,
  section#success-result {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  section#scan {
    ion-button.custom-large {
      height: 200px;
      width: 200px;
      --box-shadow: none;

      ion-icon {
        font-size: 9em;
      }
    }
  }
}