<ion-header>
  <ion-toolbar *ngIf="config">
    <ion-buttons slot="start">
      <ion-button class="master-button">
        <ion-label *ngIf="config.isMaster">Режим мастера</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="config">
      <ion-button id="trigger-button"> </ion-button>

      <ion-popover trigger="trigger-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" (click)="syncData()">
                <ion-label>Синхронизировать данные</ion-label>
              </ion-item>
              <ion-item
                [button]="true"
                *ngIf="!config.isMaster"
                (click)="onSwitchMode()"
              >
                <ion-label>Включить режим мастера</ion-label>
              </ion-item>
              <ion-item
                [button]="true"
                *ngIf="config.isMaster"
                (click)="onSwitchMode()"
              >
                <ion-label>Выключить режим мастера</ion-label>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section id="spinner-section" *ngIf="isDataLoading; else elseblock">
    <div class="loader"></div>
  </section>
  <ng-template #elseblock>
    <section>
      <img src="./../../../assets/images/header.png" />
      <ion-button expand="block" class="custom-button-big" (click)="switchTab('rules')">Правила </ion-button>
      <ion-button expand="full" class="custom-button-big" (click)="switchTab('tools')">Инструменты </ion-button>
      <ion-button expand="full" class="custom-button-big" (click)="syncData()">Синхронизировать данные </ion-button>
      <div *ngIf="config && syncRequired" class="sync-required">
        Дата последней синхронизации: {{ lastSyncDate }}.
        <br>
        Необходимо синхронизировать данные приложения.
      </div>
      <div *ngIf="config && !syncRequired" class="synced">
        Данные обновлены.
      </div>
    </section>
  </ng-template>
</ion-content>
