<ion-header *ngIf="appSettings.hasHeader">
  <app-home-toolbar [config]="config" (syncData)="syncData()" [appSettings]="appSettings"></app-home-toolbar>
</ion-header>

<ion-content id="home-page">
  <section class="spinner-section" *ngIf="isDataLoading; else elseblock">
    <div class="loader"></div>
  </section>
  <ng-template #elseblock>
    <section class="home-content">
      <div class="header-img"></div>
      <ng-template ngFor let-tab [ngForOf]="appSettings.tabs">
        <ion-button *ngIf="tab.id !== 'home'" expand="block" class="custom-button-big" (click)="switchTab(tab.id)">
          {{tab.title}}
        </ion-button>
      </ng-template>
      <ng-container *ngIf="appSettings.repo !== null">
        <ion-button expand="full" class="custom-button-big" (click)="syncData()">
          Синхронизировать данные
        </ion-button>
        <div *ngIf="config && syncRequired" class="sync-required">
          Дата последней синхронизации: {{ lastSyncDate }}.
          <br />
          Необходимо синхронизировать данные приложения.
        </div>
        <div *ngIf="config && !syncRequired" class="synced">
          Данные обновлены.
        </div>
        <div class="version">Ver. 2.2</div>
      </ng-container>
    </section>
  </ng-template>
</ion-content>