<ion-header>
  <app-home-toolbar
    [config]="config"
    (syncData)="syncData()"
  ></app-home-toolbar>
</ion-header>

<ion-content>
  <section id="spinner-section" *ngIf="isDataLoading; else elseblock">
    <div class="loader"></div>
  </section>
  <ng-template #elseblock>
    <section>
      <div class="header-img" ></div>
      <ng-template ngFor let-tab [ngForOf]="tabs">
        <ion-button
          *ngIf="tab.id != 'home'"
          expand="block"
          class="custom-button-big"
          (click)="switchTab(tab.id)"
          >{{tab.title}}
        </ion-button>
      </ng-template>
      <ion-button expand="full" class="custom-button-big" (click)="syncData()">
        Синхронизировать данные
      </ion-button>
      <div *ngIf="config && syncRequired" class="sync-required">
        Дата последней синхронизации: {{ lastSyncDate }}.
        <br />
        Необходимо синхронизировать данные приложения.
      </div>
      <div *ngIf="config && !syncRequired" class="synced">
        Данные обновлены.
      </div>
    </section>
  </ng-template>
</ion-content>
<ion-footer>
  <div class="version">Ver. 2.2</div>
</ion-footer>
