<ion-content class="ion-padding" *ngIf="symptomsTable != null">
  <ion-text>
    <h3>Симптомы 1 слой:</h3>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-select
            fill="outline"
            placeholder="Выберите симптом"
            [(ngModel)]="firstLayer()[0].value"
          >
            <ion-select-option
              *ngFor="let symptom of allowedSymptoms; index as i"
              [value]="symptom"
              >{{ symptom }}</ion-select-option
            >
          </ion-select>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-select
          fill="outline"
          placeholder="Выберите симптом"
          [(ngModel)]="firstLayer()[1].value"
        >
          <ion-select-option
            *ngFor="let symptom of allowedSymptoms; index as i"
            [value]="symptom"
            >{{ symptom }}</ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-text>
    <h3>Симптомы 2 слой:</h3>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-select
          fill="outline"
          placeholder="Выберите симптом"
          [(ngModel)]="secondLayer()[0].value"
        >
          <ion-select-option
            *ngFor="let symptom of allowedSymptoms; index as i"
            [value]="symptom"
            >{{ symptom }}</ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-select
          fill="outline"
          placeholder="Выберите симптом"
          [(ngModel)]="secondLayer()[1].value"
        >
          <ion-select-option
            *ngFor="let symptom of allowedSymptoms; index as i"
            [value]="symptom"
            >{{ symptom }}</ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-text>
    <h3>Симптомы 3 слой:</h3>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-select
          fill="outline"
          placeholder="Выберите симптом"
          [(ngModel)]="thirdLayer()[0].value"
        >
          <ion-select-option
            *ngFor="let symptom of allowedSymptoms; index as i"
            [value]="symptom"
            >{{ symptom }}</ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-select
          fill="outline"
          placeholder="Выберите симптом"
          [(ngModel)]="thirdLayer()[1].value"
        >
          <ion-select-option
            *ngFor="let symptom of allowedSymptoms; index as i"
            [value]="symptom"
            >{{ symptom }}</ion-select-option
          >
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
