<div class="symptoms-page" *ngIf="symptomsTable != null">
  <ion-text>
    <h4>Симптомы 1 слой:</h4>
  </ion-text>
  <ion-grid>
    <ion-row *ngFor="let layer of firstLayer(); index as i">
      <ion-col>
        <ion-list>
          <ion-select
            fill="outline"
            [(ngModel)]="layer.value"
            okText="Выбрать"
            cancelText="Отмена"
            [interfaceOptions]="customActionSheetOptions"
            interface="action-sheet"
          >
            <ion-select-option
              *ngFor="let symptom of allowedSymptoms; index as i"
              [value]="symptom"
              >{{ symptom }}</ion-select-option
            >
          </ion-select>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-text>
    <h4>Симптомы 2 слой:</h4>
  </ion-text>
  <ion-grid>
    <ion-row *ngFor="let layer of secondLayer(); index as i">
      <ion-col>
        <ion-list>
          <ion-select
            fill="outline"
            [(ngModel)]="layer.value"
            okText="Выбрать"
            cancelText="Отмена"
            [interfaceOptions]="customActionSheetOptions"
            interface="action-sheet"
          >
            <ion-select-option
              *ngFor="let symptom of allowedSymptoms; index as i"
              [value]="symptom"
              >{{ symptom }}</ion-select-option
            >
          </ion-select>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-text>
    <h4>Симптомы 3 слой:</h4>
  </ion-text>
  <ion-grid>
    <ion-row *ngFor="let layer of thirdLayer(); index as i">
      <ion-col>
        <ion-list>
          <ion-select
            fill="outline"
            [(ngModel)]="layer.value"
            okText="Выбрать"
            cancelText="Отмена"
            [interfaceOptions]="customActionSheetOptions"
            interface="action-sheet"
          >
            <ion-select-option
              *ngFor="let symptom of allowedSymptoms; index as i"
              [value]="symptom"
              >{{ symptom }}</ion-select-option
            >
          </ion-select>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
