ion-content {
  section#mad-science {
    padding: 10px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    text-align: center;

    ion-list {
      background: none;

      ion-item {
        --background: none;

        ion-label {
          font-family: "CambriaFont";
        }

        ion-checkbox{
          --ion-color-base: #332b22 !important;
        }
      }
    }

    .important {
      color: #9d0000;
    }
  }

  section#mad-science-result {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ion-card {

      ion-card-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        ion-card-subtitle {
          color:  var(--ion-color-step-850, #262626);;
        }
      }

      ion-card-content {
        margin-top: 25px;
      }
    }
  }
}
