#mad-science-tool {
  section#mad-science {
    padding: 10px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    text-align: center;

    ion-list {
      background: none;

      ion-item {
        --background: none;

        ion-label {
          font-family: var(--mad-science-font-family);
        }

        ion-checkbox {
          --ion-color-base: var(--mad-science-checkbox-color);
        }
      }
    }
    .important {
      color: var(--mad-science-important-color);
    }
  }

  section#mad-science-result {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ion-card {
      ion-card-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        ion-card-subtitle {
          color: var(--mad-science-subtitile-color);
        }
      }

      ion-card-content {
        margin-top: 25px;
      }
    }
  }
}
