<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Безумная Наука</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="madScience">
  <section *ngIf="noContent">
    Похоже что информации о правилах нет на устройстве. Перейдите во вкладку
    "домой" и нажмите на кнопку "Синхронизировать данные"
  </section>

  <section id="mad-science" *ngIf="!noContent && !result">
    <ion-list>
      <ion-item *ngFor="let entry of madScience.checkList">
        <span *ngIf="!entry.isOptional" class="important">*</span>
        <ion-label>{{entry.text}}</ion-label>
        <ion-checkbox
          slot="start"
          [(ngModel)]="entry.isChecked"
          [color]="entry.isOptional ? 'secondary' : 'primary'"
          (ionChange)="checkboxClick($event)"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-button
      color="light"
      expand="block"
      size="large"
      (click)="getResult()"
      [disabled]="!madScienceAllowed">
      Получить результат
    </ion-button>
  </section>

  <section id="mad-science-result" *ngIf="!noContent && result">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{result.successRate.title}}</ion-card-title>
        <ion-card-subtitle>{{result.successRate.description}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <h2>{{result.effect.title}}:</h2>
        <p>{{result.effect.description}}</p></ion-card-content>
    </ion-card>
  </section>
</ion-content>
