<ion-header *ngIf="madScience">
  <ion-toolbar class="larp-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" class="arrow-button"> </ion-button>
    </ion-buttons>
    <ion-title> {{madScience.name}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="mad-science-tool" *ngIf="madScience">
  <section id="mad-science" *ngIf="!result">
    <ion-list>
      <ion-item *ngFor="let entry of madScience.checkList">
        <span *ngIf="!entry.isOptional" class="important">*</span>
        <ion-label>{{entry.text}}</ion-label>
        <ion-checkbox
          slot="start"
          [(ngModel)]="entry.isChecked"
          [color]="entry.isOptional ? 'secondary' : 'primary'"
          (ionChange)="checkboxClick($event)"
        ></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-button
      class="custom-button-big"
      (click)="getResult()"
      [disabled]="!madScienceAllowed"
    >
      Получить результат
    </ion-button>
    <div class="info">
      <span class="important">*</span> - обязательный пункт.
    </div>
  </section>

  <section id="mad-science-result" *ngIf="result">
    <ion-card class="result-card">
      <ion-card-header>
        <ion-card-title>{{result.successRate.title}}</ion-card-title>
        <ion-card-subtitle
          >{{result.successRate.description}}</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>
        <h2>{{result.effect.title}}:</h2>
        <p>{{result.effect.description}}</p></ion-card-content
      >
    </ion-card>
  </section>
</ion-content>
