<p-dialog
  header="New User"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>
  <div class="user-form" [formGroup]="characterForm" class="p-fluid">
    <div class="p-field">
      <label for="float-input">Name</label>
      <input id="float-input" type="text" pInputText formControlName="name" />
    </div>
    <div *ngFor="let resource of resourceForms; index as i">
      <div class="p-field" [formGroup]="resource">
        <label for="float-input">{{character.resources[i].name}}</label>
        <p-inputNumber
          [showButtons]="true"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          formControlName="value"
          [step]="character.resources[i].step"
        ></p-inputNumber>
        <p for="float-input">{{character.resources[i].description}}</p>
      </div>
    </div>

    <input
      id="user_id"
      type="text"
      pInputText
      formControlName="id"
      type="hidden"
    />
  </div>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="save()"
      label="Save"
      class="p-button-text"
    ></p-button>
    <p-button icon="pi pi-times" (click)="close()" label="Close"></p-button>
  </ng-template>
</p-dialog>
