#rules-page {
  section {
    padding: 10px;
  }

  ion-list {
    ion-item {
      ion-label {
        .result-list {
          p {
            margin: 15px 0;
            white-space: normal;
            line-height: 20px;

            &::before,
            &::after {
              content: "...";
            }

            b {
              background-color: #f1f142;
            }
          }
        }
      }
    }
  }
}
