<ion-header>
  <ion-toolbar class="larp-toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="goHome()" class="arrow-button"> </ion-button>
    </ion-buttons>

    <ion-title *ngIf="!showSearchBar">Правила</ion-title>

    <ion-buttons slot="end" *ngIf="!showSearchBar">
      <ion-button (click)="toggleSearch()" class="search-button"> </ion-button>
    </ion-buttons>

    <ion-searchbar
      class="search"
      *ngIf="showSearchBar"
      debounce="500"
      showCancelButton="always"
      (ionInput)="search($event)"
      (ionCancel)="toggleSearch()"
      placeholder="Поиск..."
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content id="rules-page">
  <section *ngIf="noContent; else elseblock">
    Похоже что информации о правилах нет на устройстве. Перейдите во вкладку
    "домой" и нажмите на кнопку "Синхронизировать данные"
  </section>

  <ng-template #elseblock>
    <ion-list class="rules-list">
      <ng-template ngFor let-rule [ngForOf]="listOfRules">
        <ion-item class="rules-item" (click)="showItem(rule, $event)">
          <ion-label><h2>{{ rule.title }}</h2></ion-label>
        </ion-item>
        <div class="rules-item-divider"></div>
      </ng-template>
    </ion-list>
  </ng-template>
</ion-content>
