ion-content {
  section {
    padding: 10px;
  }
}

ion-list {
  ion-item {
    ion-label {
      .result-list {
        p {
          margin: 15px 0;
          color: var(--ion-color-step-600, #666666);
          white-space: normal;
          &::before,
          &::after {
            content: "...";
          }
        }
      }
    }
  }
}
