/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

//импорт стилей конкретной игры
@import url(theme/arbor2022.scss);

.larp-toolbar {
  ion-label,
  ion-title {
    text-transform: initial;
    font-size: 20px;
  }
  .arrow-button,
  .plus-button,
  .minus-button,
  .master-button {
    width: 30px;
  }
  .master-button {
    background-image: url("./assets/images/people-outline.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 25px;
    margin-left: 5px;
  }
  .arrow-button {
    background-image: url("./assets/images/chevron-back-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }
  .plus-button {
    background-image: url("./assets/images/add-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }
  .minus-button {
    background-image: url("./assets/images/remove-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }
  #trigger-button {
    background-image: url("./assets/images/menu-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 40px;
  }
  .search-button {
    background-image: url("./assets/images/search-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    width: 40px;
  }
}

#cancel-button,
#confirm-button,
ion-button.custom-button {
  --background: none;
  --box-shadow: none;
  margin: 0 15px;
  padding: 10px 12px 16px;
  height: 50px;
  color: #2f0312;
  text-transform: initial;
  font-size: 20px;
  -webkit-text-stroke-color: #000;
  background-color: #c3c3c3;
}

ion-button.custom-button-big {
  --background: none;
  --box-shadow: none;
  height: 70px;
  color: #2f0312;
  text-transform: initial;
  font-size: 20px;
  -webkit-text-stroke-color: #000;
  background-color: #c3c3c3;
}

ion-popover {
  background: #0000007d;
  ion-content ion-list {
    background: none !important;
    ion-item {
      --background: none !important;
      --border-color: transparent;

      &::after {
        content: "";
        display: block;
        height: 5px;
      }

      &:last-child::after {
        background: none;
      }
    }
  }
}

ion-card.result-card {
  --background: none;
  box-shadow: none;
  padding: 30px 15px;

  ion-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
  }

  ion-card-content {
    margin-top: 15px;
    h2 {
      text-decoration: underline;
      font-size: 18px;
      color: #000;
    }
    p {
      font-size: 16px;
      color: #000;
    }
  }
}

ion-alert {
  .alert-wrapper {
    --box-shadow: none;
    padding: 30px 15px;
    max-width: 80% !important;
    min-width: 90% !important;

    .alert-message {
      color: #000;
    }

    input {
      border-bottom: 1px solid #211b16 !important;

      &:-internal-autofill-selected {
        background-color: none;
      }
    }

    .alert-button-group {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      button {
        --background: none;
        --box-shadow: none;
        margin: 0 7px !important;
        padding: 10px 25px 13px !important;
        height: 50px;
        text-transform: initial !important;
        -webkit-text-stroke-color: #000;
        font-size: 16px !important;
      }
    }
  }
}
