/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url(./theme/variables.scss);

//импорт стилей конкретной игры
@import url(theme/pathololgic2025.scss);

.larp-toolbar {
  color: var(--toolbar-text-color);
  ion-label,
  ion-title {
    text-transform: initial;
    font-size: 20px;
  }
  .arrow-button,
  .plus-button,
  .minus-button,
  .master-button {
    width: 30px;
  }
  .master-button {
    background-image: url("./assets/images/people-outline.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 25px;
    margin-left: 5px;
    color: var(--toolbar-master-button-text-color);
  }
  .arrow-button {
    background-image: url("./assets/images/chevron-back-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }
  .plus-button {
    background-image: url("./assets/images/add-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }
  .minus-button {
    background-image: url("./assets/images/remove-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }
  #trigger-button {
    background-image: url("./assets/images/menu-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    width: 40px;
  }
  .search-button {
    background-image: url("./assets/images/search-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    width: 40px;
  }
  .search {
    --background: var(--toolbar-search-input-background) !important;
    input {
      font-family: var(--toolbar-search-font-family) !important;
    }
  }
}

#cancel-button,
#confirm-button,
ion-button.custom-button,
ion-button.custom-button-big {
  --background: none;
  --box-shadow: none;
  color: var(--custom-button-text-color);
  text-transform: initial;
  font-size: 20px;
  -webkit-text-stroke-color: var(--custom-button-webkit-text-stroke-color);
  background-color: var(--custom-button-background-color);
  font-family: var(--custom-button-font-family);
}

#cancel-button,
#confirm-button,
ion-button.custom-button {
  margin: 0 15px;
  padding: 10px 12px 16px;
  height: 50px;
}

ion-button.custom-button-big {
  height: 70px;
}

ion-card.result-card {
  --background: none;
  box-shadow: none;
  padding: 30px 15px;
  font-family: var(--card-font-family);

  ion-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: var(--card-font-family-bold);
  }

  ion-card-content {
    margin-top: 15px;
    h2 {
      text-decoration: underline;
      font-size: 18px;
      color: var(--card-contet-color);
    }
    p {
      font-size: 16px;
      color: var(--card-contet-color);
    }
  }
}
