<div class="meds-container">
  <!-- Фиксированный тулбар -->
  <div class="meds-toolbar">
    <div class="meds-toolbar__actions">
      <ion-select
        fill="outline"
        placeholder=" - "
        [(ngModel)]="medPartFirst"
        okText="Выбрать"
        cancelText="Отмена"
        [interfaceOptions]="customActionSheetOptions"
        interface="action-sheet"
      >
        <ion-select-option
          *ngFor="let med of allowedMeds; index as i"
          [value]="med"
          >{{ med }}</ion-select-option
        >
      </ion-select>
      <ion-select
        fill="outline"
        [disabled]="!medPartFirst"
        placeholder=" - "
        [(ngModel)]="medPartSecond"
        okText="Выбрать"
        cancelText="Отмена"
        [interfaceOptions]="customActionSheetOptions"
        interface="action-sheet"
      >
        <ion-select-option
          *ngFor="let med of allowedMeds; index as i"
          [value]="med"
          >{{ med }}</ion-select-option
        >
      </ion-select>
      <ion-button fill="clear" shape="round" (click)="onAddMed()" size="large">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="meds-toolbar__info">
      антибиотики:
      {{ antibioticsCount() }}/{{ antibLimit }} иммунники: {{ immunesCount }}/{{
        immuneLimit
      }}
      антисептики: {{ antisepticsCount() }} обезболивающее:
      {{ painkillerCount() }}
    </div>
  </div>

  <!-- Блок с контентом и скроллом -->
  <div class="scrollable-content">
    <ion-list class="meds-list">
      <ion-item *ngFor="let item of medsList; index as i">
        <ion-label>{{ item.type }}: {{ item.value }}</ion-label>

        <ion-button fill="clear" shape="round" (click)="onDeleteMed(i)">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</div>
