<p-table
  #dt
  class="game-list"
  [value]="games"
  [rowHover]="true"
  [rows]="5"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[5, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [filterDelay]="0"
  [globalFilterFields]="['name', 'descrption', 'startDate']"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      Список игр
      <!-- <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          placeholder="Поиск"
        />
      </span> -->
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th class="game-list_name" field="name" pSortableColumn="name">Имя</th>
      <th class="game-list_description" field="description" >Описание</th>
      <th class="game-list_start-date" field="startDate"  pSortableColumn="startDate">Дата начала</th>
      <th class="game-list_duration" field="duration">Продолжительность</th>
      <th class="game-list_options"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-game>
    <tr>
      <td class="game-list_name">
        <span class="p-column-title">Name</span>
        {{ game.name }}
      </td>
      <td class="game-list_description">
        {{ game.description | slice: 0:100 }}...
      </td>
      <td class="game-list_start-date">
        {{ game.startDate | date }}
      </td>
      <td class="game-list_duration">
        {{ game.duration }}
      </td>
      <td class="game-list_options"></td>
    </tr>
  </ng-template>
</p-table>
