@font-face {
  font-family: CambriaFont;
  src: url("../assets/fonts/Cambria.woff");
}
@font-face {
  font-family: CambriaBoldFont;
  src: url("../assets/fonts/Cambria-Bold.woff");
}
@font-face {
  font-family: CambriaBoldItalicFont;
  src: url("../assets/fonts/Cambria-BoldItalic.woff");
}
@font-face {
  font-family: CambriaItalicFont;
  src: url("../assets/fonts/Cambria-Italic.woff");
}
@font-face {
  font-family: CandaraFont;
  src: url("../assets/fonts/candara.ttf");
}

:root {
  --ion-font-family: "CandaraFont";
}

ion-tabs {
  .larp-tab-bar {
    background-image: url("../assets/images/arbor2022/up.png");
  }
  .larp-tab-button {
    &#tab-button-home {
      background-image: url("../assets/images/arbor2022/home.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;

      &.tab-selected {
        background-image: url("../assets/images/arbor2022/home_hover.png");
      }
    }
    &#tab-button-rules {
      background-image: url("../assets/images/arbor2022/book.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 26px;

      &.tab-selected {
        background-image: url("../assets/images/arbor2022/book_hover.png");
      }
    }
    &#tab-button-tools {
      background-image: url("../assets/images/arbor2022/tools.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 27px;

      &.tab-selected {
        background-image: url("../assets/images/arbor2022/tools_hover.png");
      }
    }
  }
}

ion-header {
  .larp-toolbar {
    --background: url("../assets/images/arbor2022/up.png") center / cover
      no-repeat;
    color: #cbc67e;
    .master-button {
      background-image: url("../assets/images/arbor2022/master_icon.png");
      color: #8a7e76;
      background-repeat: no-repeat;
      background-position: left;
      background-size: 25px;
    }
    .arrow-button {
      background-image: url("../assets/images/arbor2022/arrow.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
    }
    .plus-button {
      background-image: url("../assets/images/arbor2022/+.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
    }
    .minus-button {
      background-image: url("../assets/images/arbor2022/-.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
    }
    #trigger-button {
      background-image: url("../assets/images/arbor2022/menu.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 35px;
      width: 40px;
    }
    .search-button {
      background-image: url("../assets/images/arbor2022/search.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;
    }
    .search {
      --background: #ceb692 !important;
      input {
        font-family: "CambriaBoldFont" !important;
      }
    }
  }
}

ion-content {
  --background: url("../assets/images/arbor2022/background.jpg") no-repeat
    center / cover;
}

#home-page {
  .header-img {
    background-image: url("../assets/images/arbor2022/header.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 150px;
  }
  section {
    color: #464137;

    .synced,
    .sync-required {
      font-family: "CambriaFont";
    }
  }
  .version {
    color: #464137;
    font-family: "CambriaFont";
  }
}

#rules-page {
  .rules-item {
    ion-label {
      font-family: "CambriaBoldFont" !important;

      .result-list {
        p {
          color: #000;
        }
      }
    }
  }
  .rules-item-divider {
    display: block;
    height: 5px;
    background-image: url("../assets/images/arbor2022/line.png") !important;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 90%;
  }
}

#rule-item-page {
  ion-card {
    color: #000;

    &-header {
      ion-card-title {
        font-family: "CambriaBoldFont";
      }
    }
    &-content {
      font-family: "CambriaFont";

      .highlight {
        background-color: #fffca6;
      }
    }
  }
}

#mad-science {
  #mad-science-input {
    ion-list {
      ion-item {
        ion-label {
          font-family: "CambriaFont";
        }

        ion-checkbox {
          --ion-color-base: #332b22 !important;
        }
      }
    }
    .important {
      color: #9d0000;
    }
  }
  #mad-science-result {
    ion-card {
      ion-card-header {
        ion-card-subtitle {
          color: var(--ion-color-step-850, #262626);
        }
      }
    }
  }
}

#doctors-tool {
  #scan {
    color: #464137;
    font-family: "CambriaFont";
    .button.custom-large {
      --background: url("../assets/images/qr.png") no-repeat center / contain !important;
      color: #464137;
    }
  }

  #scan-result {
    .sc-ion-input-md-h {
      background: #42392173;
      color: #000;
    }

    .fail-result {
      color: #620101;
      text-decoration: underline;
    }
  }
}

#cancel-button,
#confirm-button,
ion-button.custom-button {
  background-image: url("../assets/images/arbor2022/btn_small.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #cdc4c7;
  font-family: "CambriaBoldFont";
}

ion-button.custom-button-big {
  background-image: url("../assets/images/arbor2022/btn_big.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #cdc4c7;
  font-family: "CambriaBoldFont";
}

ion-popover {
  ion-content {
    --background: url("../assets/images/arbor2022/menu_backdrop.png") no-repeat
      center;
    ion-list ion-item {
      &::after {
        background-image: url("../src/../assets/images/arbor2022/line_mini.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 80%;
      }
    }
  }
}

ion-card.result-card {
  font-family: "CambriaFont";
  background-image: url("../assets/images/arbor2022/thief_card.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  ion-card-header {
    font-family: "CambriaBoldFont";
  }
}

ion-alert {
  .alert-wrapper {
    background-image: url("../assets/images/arbor2022/thief_card.png") !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    font-family: "CambriaFont";

    .alert-button-group {
      button {
        background-image: url("../assets/images/arbor2022/btn_small.png") !important;
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
        color: var(--text-color-light) !important;
        font-family: "CambriaBoldFont";
      }
    }
  }
}

#spinner-section {
  .loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #342c23,
        1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
        2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
        1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
        0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
        -2.6em 0em 0 0em rgba(52, 44, 35, 0.5),
        -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em #342c23b3, 1.8em -1.8em 0 0em #342c23,
        2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
        1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
        0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
        -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em #342c2380,
        1.8em -1.8em 0 0em rgba(52, 44, 35, 0.7), 2.5em 0em 0 0em #342c23,
        1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
        0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
        -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em #342c2333,
        1.8em -1.8em 0 0em rgba(52, 44, 35, 0.5),
        2.5em 0em 0 0em rgba(52, 44, 35, 0.7), 1.75em 1.75em 0 0em #342c23,
        0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
        -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em #342c2333,
        1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
        2.5em 0em 0 0em rgba(52, 44, 35, 0.5),
        1.75em 1.75em 0 0em rgba(52, 44, 35, 0.7), 0em 2.5em 0 0em #342c23,
        -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
        -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em #342c2333,
        1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
        2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
        1.75em 1.75em 0 0em rgba(52, 44, 35, 0.5),
        0em 2.5em 0 0em rgba(52, 44, 35, 0.7), -1.8em 1.8em 0 0em #342c23,
        -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em #342c2333,
        1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
        2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
        1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
        0em 2.5em 0 0em rgba(52, 44, 35, 0.5),
        -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.7), -2.6em 0em 0 0em #342c23,
        -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em #342c2333,
        1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
        2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
        1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
        0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.5),
        -2.6em 0em 0 0em rgba(52, 44, 35, 0.7), -1.8em -1.8em 0 0em #342c23;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #342c23,
        1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
        2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
        1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
        0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
        -2.6em 0em 0 0em rgba(52, 44, 35, 0.5),
        -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em #342c23b3, 1.8em -1.8em 0 0em #342c23,
        2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
        1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
        0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
        -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em #342c2380,
        1.8em -1.8em 0 0em rgba(52, 44, 35, 0.7), 2.5em 0em 0 0em #342c23,
        1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
        0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
        -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em #342c2333,
        1.8em -1.8em 0 0em rgba(52, 44, 35, 0.5),
        2.5em 0em 0 0em rgba(52, 44, 35, 0.7), 1.75em 1.75em 0 0em #342c23,
        0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
        -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em #342c2333,
        1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
        2.5em 0em 0 0em rgba(52, 44, 35, 0.5),
        1.75em 1.75em 0 0em rgba(52, 44, 35, 0.7), 0em 2.5em 0 0em #342c23,
        -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
        -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em #342c2333,
        1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
        2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
        1.75em 1.75em 0 0em rgba(52, 44, 35, 0.5),
        0em 2.5em 0 0em rgba(52, 44, 35, 0.7), -1.8em 1.8em 0 0em #342c23,
        -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em #342c2333,
        1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
        2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
        1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
        0em 2.5em 0 0em rgba(52, 44, 35, 0.5),
        -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.7), -2.6em 0em 0 0em #342c23,
        -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em #342c2333,
        1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
        2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
        1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
        0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
        -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.5),
        -2.6em 0em 0 0em rgba(52, 44, 35, 0.7), -1.8em -1.8em 0 0em #342c23;
    }
  }
}
