:root {
  --larp-text-color: #464137;
  /*---------------- переменные по компонентам*/
  /* rules */
  --rules-text-highlight-color: #fffca6;
  --rule-text-color: #000;

  /* main */
  --custom-button-text-color: #cdc4c7;
  --custom-button-background-color: #c3c3c3;
  --popower-background: #0000007d;
  --alert-border-color: #211b16;
  --toolbar-text-color: #cbc67e;
  --toolbar-master-button-text-color: #8a7e76;
  --toolbar-search-input-background: #ceb692;

  --ion-color-primary: #fce898;
  --ion-color-primary-rgb: 252, 232, 152;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #decc86;
  --ion-color-primary-tint: #fceaa2;

  --ion-color-secondary: #987a5a;
  --ion-color-secondary-rgb: 152, 122, 90;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #866b4f;
  --ion-color-secondary-tint: #a2876b;

  --ion-color-tertiary: #9567a2;
  --ion-color-tertiary-rgb: 149, 103, 162;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #835b8f;
  --ion-color-tertiary-tint: #a076ab;

  --ion-color-success: #4e8d55;
  --ion-color-success-rgb: 78, 141, 85;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #457c4b;
  --ion-color-success-tint: #609866;

  --ion-color-warning: #939759;
  --ion-color-warning-rgb: 147, 151, 89;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #81854e;
  --ion-color-warning-tint: #9ea16a;

  --ion-color-danger: #864646;
  --ion-color-danger-rgb: 134, 70, 70;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #763e3e;
  --ion-color-danger-tint: #925959;

  --ion-color-light: #f6f8fc;
  --ion-color-light-rgb: 246, 248, 252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8dade;
  --ion-color-light-tint: #f7f9fc;

  --ion-color-medium: #5f5f5f;
  --ion-color-medium-rgb: 95, 95, 95;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #545454;
  --ion-color-medium-tint: #6f6f6f;

  --ion-color-dark: #2f2f2f;
  --ion-color-dark-rgb: 47, 47, 47;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #292929;
  --ion-color-dark-tint: #444444;

  --ion-background-color: #431909;
  --ion-toolbar-color: #fce898;
  --ion-text-color: #fce898;
  --custom-button-text-color: #fce898;
  --alert-color: #fce898;
  --alert-border-color: #fce898;

  --ion-toolbar-background: var(--ion-background-color);
  --ion-overlay-background-color:  var(--ion-background-color);
  --ion-item-color:  #fce898;
}

:host {
  --border-color: #fce898 !important;
}

@font-face {
  font-family: "MorFont";
  src: url("../assets/fonts/ofont.ru_Dudka.ttf") format("truetype"); /* Safari, Android, iOS */
}

* {
  font-family: "MorFont", sans-serif;
}

ion-select {
  --border-color: #fce898 !important;
  --placeholder-color: var(--ion-text-color);
  --placeholder-opacity: 1;
  width: 100%;
  justify-content: center;
}

ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
}

ion-select::part(placeholder)::first-letter {
  font-size: 24px;
  font-weight: 500;
}

ion-select::part(text) {
  color: var(--ion-text-color);
}

ion-select::part(icon) {
  color: var(--ion-text-color);
  opacity: 1;
}

.custom-selector {
  --backdrop-opacity: 0.6;
  --button-color-hover: var(--ion-text-color);

  /* Стили для заголовка */
  .action-sheet-title {
    color: var(--ion-text-color);
    text-align: center;
  }

  /* Стили для кнопок */
  .action-sheet-button {
    color: var(--ion-color-secondary);
    font-weight: 500;

    &.ion-focused.sc-ion-action-sheet-md {
      color: var(--ion-text-color);
    }

    &.action-sheet-destructive {
      color: var(--ion-color-danger);
    }

    &.action-sheet-cancel {
      color: var(--ion-color-text);
      font-weight: bold;
    }
  }
}

@media (any-hover: hover) {
  .action-sheet-button.sc-ion-action-sheet-md:not(:disabled):hover {
    color: var(--button-color-hover);
  }
}

:host(.select-fill-outline),
.alert-radio-group.sc-ion-alert-md,
.alert-checkbox-group.sc-ion-alert-md {
  border-color: var(--ion-text-color);
}
.alert-radio-label.sc-ion-alert-md {
  color: var(--ion-color-secondary);
}

[aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
  color: var(--ion-text-color);
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #342c23,
      1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
      2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
      1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
      0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
      -2.6em 0em 0 0em rgba(52, 44, 35, 0.5),
      -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em #342c23b3, 1.8em -1.8em 0 0em #342c23,
      2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
      1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
      0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
      -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em #342c2380,
      1.8em -1.8em 0 0em rgba(52, 44, 35, 0.7), 2.5em 0em 0 0em #342c23,
      1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
      0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
      -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em #342c2333,
      1.8em -1.8em 0 0em rgba(52, 44, 35, 0.5),
      2.5em 0em 0 0em rgba(52, 44, 35, 0.7), 1.75em 1.75em 0 0em #342c23,
      0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
      -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em #342c2333,
      1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
      2.5em 0em 0 0em rgba(52, 44, 35, 0.5),
      1.75em 1.75em 0 0em rgba(52, 44, 35, 0.7), 0em 2.5em 0 0em #342c23,
      -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
      -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em #342c2333,
      1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
      2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
      1.75em 1.75em 0 0em rgba(52, 44, 35, 0.5),
      0em 2.5em 0 0em rgba(52, 44, 35, 0.7), -1.8em 1.8em 0 0em #342c23,
      -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em #342c2333,
      1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
      2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
      1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
      0em 2.5em 0 0em rgba(52, 44, 35, 0.5),
      -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.7), -2.6em 0em 0 0em #342c23,
      -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em #342c2333,
      1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
      2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
      1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
      0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.5),
      -2.6em 0em 0 0em rgba(52, 44, 35, 0.7), -1.8em -1.8em 0 0em #342c23;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #342c23,
      1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
      2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
      1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
      0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
      -2.6em 0em 0 0em rgba(52, 44, 35, 0.5),
      -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em #342c23b3, 1.8em -1.8em 0 0em #342c23,
      2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
      1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
      0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
      -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em #342c2380,
      1.8em -1.8em 0 0em rgba(52, 44, 35, 0.7), 2.5em 0em 0 0em #342c23,
      1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
      0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
      -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em #342c2333,
      1.8em -1.8em 0 0em rgba(52, 44, 35, 0.5),
      2.5em 0em 0 0em rgba(52, 44, 35, 0.7), 1.75em 1.75em 0 0em #342c23,
      0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
      -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em #342c2333,
      1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
      2.5em 0em 0 0em rgba(52, 44, 35, 0.5),
      1.75em 1.75em 0 0em rgba(52, 44, 35, 0.7), 0em 2.5em 0 0em #342c23,
      -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.2),
      -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em #342c2333,
      1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
      2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
      1.75em 1.75em 0 0em rgba(52, 44, 35, 0.5),
      0em 2.5em 0 0em rgba(52, 44, 35, 0.7), -1.8em 1.8em 0 0em #342c23,
      -2.6em 0em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em #342c2333,
      1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
      2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
      1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
      0em 2.5em 0 0em rgba(52, 44, 35, 0.5),
      -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.7), -2.6em 0em 0 0em #342c23,
      -1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em #342c2333,
      1.8em -1.8em 0 0em rgba(52, 44, 35, 0.2),
      2.5em 0em 0 0em rgba(52, 44, 35, 0.2),
      1.75em 1.75em 0 0em rgba(52, 44, 35, 0.2),
      0em 2.5em 0 0em rgba(52, 44, 35, 0.2),
      -1.8em 1.8em 0 0em rgba(52, 44, 35, 0.5),
      -2.6em 0em 0 0em rgba(52, 44, 35, 0.7), -1.8em -1.8em 0 0em #342c23;
  }
}
