//шрифты
@font-face {
  font-family: CambriaFont;
  src: url("../assets/fonts/Cambria.woff");
}
@font-face {
  font-family: CambriaBoldFont;
  src: url("../assets/fonts/Cambria-Bold.woff");
}
@font-face {
  font-family: CandaraFont;
  src: url("../assets/fonts/candara.ttf");
}

@font-face {
  font-family: UbuntuRegularFont;
  src: url("../assets/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf");
}
@font-face {
  font-family: UbuntuRegularBoldFont;
  src: url("../assets/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf");
}

:root {
  /*---------------- основные переменные */
  --larp-font-family-default: "CandaraFont";
  --larp-font-family: "CambriaFont";
  --larp-font-family-bold: "CambriaBoldFont";
  --ion-font-family: var(--larp-font-family-default);
  --larp-text-color: #000;
  /*---------------- переменные по компонентам*/
  /* home */
  --home-text-color: var(--larp-text-color);
  --home-font-family: var(--larp-font-family);

  /* rules */
  --rules-text-highlight-color: #f1f142;
  --rule-font-family: var(--larp-font-family);
  --rule-title-font-family: var(--larp-font-family-bold);
  --rule-text-color: var(--larp-text-color);

  /* tools */
  --doctors-success-result-background-color: #e7e7e7;
  --doctors-success-result-span-color: #858585;
  --doctors-input-background: #e7e7e7;
  --doctors-input-color: var(--larp-text-color);
  --doctors-fail-result-color: #620101;
  --doctors-text-color: var(--larp-text-color);
  --doctors-font-family: var(--larp-font-family);
  --mad-science-font-family: var(--larp-font-family);
  --mad-science-checkbox-color: #332b22;
  --mad-science-important-color: #9d0000;
  --mad-science-subtitile-color: #262626;

  /* main */
  --custom-button-text-color: #2f0312;
  --custom-button-background-color: #c3c3c3;
  --custom-button-webkit-text-stroke-color: var(--larp-text-color);
  --custom-button-font-family: var(--larp-font-family);
  --popower-background: #0000007d;
  --card-contet-color: var(--larp-text-color);
  --card-font-family: var(--larp-font-family);
  --card-font-family-bold: var(--larp-font-family-bold);
  --alert-color: var(--larp-text-color);
  --alert-border-color: #211b16;
  --alert-webkit-text-stroke-color: var(--larp-text-color);
  --alert-font-family: var(--larp-font-family);
  --alert-font-family-bold: var(--larp-font-family-bold);
  --toolbar-text-color: #000;
  --toolbar-master-button-text-color: #000;
  --toolbar-search-input-background: #ceb692;
  --toolbar-search-font-family: var(--larp-font-family);
}
