ion-content {
  section#scan-result {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    ion-input {
      background: #f4f5f8;
      color: #000;
      padding: 5px 10px !important;
      margin: 15px 0;
      border: 1px solid #d7d8da;
      border-radius: 4px;
    }

    #buttons {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      width: 100%;
    }

    section#fail-result {
      color: red;
    }
  }
}
