<p-toast position="top-center"></p-toast>

<h1>Таблица с данными</h1>
<p-table
  #dt
  class="resource-list"
  [value]="resources"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [filterDelay]="0"
  [globalFilterFields]="['name']"
>
  <ng-template pTemplate="caption">
    <div class="resource-list_header">
      Список resources
      <div class="resource-list_header_options">
        <p-button icon="pi pi-plus-circle" (click)="create()"></p-button>
        <p-button icon="pi pi-refresh" (click)="refresh()"></p-button>
        <!-- <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        (input)="dt.filterGlobal($event.target.value, 'contains')"
        placeholder="Поиск"
      />
    </span> -->
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th class="resource-list_name" field="name" pSortableColumn="name">
        Имя
      </th>
      <th class="resource-list_name" field="description">description</th>
      <th class="resource-list_name" field="min">min</th>
      <th class="resource-list_name" field="max">max</th>
      <th class="resource-list_name" field="step">step</th>
      <th class="resource-list_options"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-resource>
    <tr>
      <td class="resource-list_name">
        <span class="p-column-title">Имя</span>
        {{ resource.name }}
      </td>
      <td class="resource-list_description">
        <span class="p-column-title">description</span>
        {{ resource.description }}
      </td>
      <td class="resource-list_min">
        <span class="p-column-title">min</span>
        {{ resource.min }}
      </td>
      <td class="resource-list_max">
        <span class="p-column-title">max</span>
        {{ resource.max }}
      </td>
      <td class="resource-list_step">
        <span class="p-column-title">step</span>
        {{ resource.step }}
      </td>
      <td class="resource-list_options">
        <p-button (click)="remove(resource)">
          <i class="pi pi-trash"></i>
        </p-button>
        <p-button (click)="edit(resource.id)">
          <i class="pi pi-user-edit"></i>
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<resource-dialog
  [display]="displayDialog"
  [resource]="resource"
  (displayChange)="closeDialog($event)"
></resource-dialog>
