ion-card {
  &-header {
    &.large-font ion-card-title {
      font-size: 30px;
    }
  }
  &-content {
    line-height: 25px !important;

    table td {
      padding: 5px;
    }

    &.large-font {
      font-size: 20px;

      p, strong {
        font-size: 20px;
      }
    }

    .highlight {
      background-color: #fffca6;
    }
  }
}
