<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{rulesFile.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-card *ngFor="let rule of rulesFile.content">
    <ion-card-header *ngIf="rule.title">
      <ion-card-title  [innerHTML]="rule.title"></ion-card-title>
    </ion-card-header>

    <ion-card-content [innerHTML]="rule.content | highlight: textToSearch"></ion-card-content>
  </ion-card>
</ion-content>
