#rule-page {
  ion-card {
    box-shadow: none;
    background: none;
    margin: 0;

    .header {
      padding-bottom: 0;
      &.large-font ion-card-title {
        font-size: 30px !important;
      }
    }
    .content {
      font-size: 16px !important;
      p,
      strong {
        font-size: 16px !important;
      }
      table td {
        padding: 5px;
      }
      &.large-font {
        font-size: 20px !important;
        p,
        strong {
          font-size: 20px !important;
        }
      }
      .highlight {
        background-color: #f1f142;
      }
    }
  }
}
