#larp-tabs-bar {
  ion-tab-button {
    background: transparent;

    &#tab-button-home {
      background-image: url("../../assets/images/home-outline.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;

      &.tab-selected {
        background-image: url("../../assets/images/home-outline.svg");
      }
    }
    &#tab-button-rules {
      background-image: url("../../assets/images/book-outline.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;

      &.tab-selected {
        background-image: url("../../assets/images/book-outline.svg");
      }
    }
    &#tab-button-tools {
      background-image: url("../../assets/images/hammer-outline.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;

      &.tab-selected {
        background-image: url("../../assets/images/hammer-outline.svg");
      }
    }
  }
}
