<p-toast position="top-center"></p-toast>

<h1>Таблица с данными</h1>
<p-table
  #dt
  class="character-list"
  [value]="characters"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [filterDelay]="0"
  [globalFilterFields]="['name']"
>
  <ng-template pTemplate="caption">
    <div class="character-list_header">
      Список characters
      <div class="resource-list_header_options">
        <p-button icon="pi pi-plus-circle" (click)="onCreate()"></p-button>
        <p-button icon="pi pi-refresh" (click)="onRefresh()"></p-button>
        <!-- <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      pInputText
      type="text"
      (input)="dt.filterGlobal($event.target.value, 'contains')"
      placeholder="Поиск"
    />
  </span> -->
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th class="character-list_name" field="name" pSortableColumn="name">
        Name
      </th>
      <th class="character-list_resources" field="resources">Resources</th>
      <th class="character-list_options"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-character>
    <tr>
      <td class="character-list_name">
        <span class="p-column-title">Имя</span>
        {{ character.name }}
      </td>
      <td class="user-list_resources">
        <span class="p-column-title">Resources</span>
        <div *ngFor="let resource of character.resources">
          <p>id: {{ resource.id }}</p>
          <p>name: {{ resource.name }}</p>
          <p>value: {{ resource.value }}</p>
        </div>
      </td>
      <td class="character-list_options">
        <p-button (click)="onRemove(character)">
          <i class="pi pi-trash"></i>
        </p-button>
        <p-button (click)="onEdit(character.id)">
          <i class="pi pi-user-edit"></i>
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<character-dialog
  [display]="displayDialog"
  [character]="character"
  (displayChange)="onDialogClose($event)"
></character-dialog>
