<h1>Добавить новый объект</h1>
<p-toast position="top-center"></p-toast>
<div class="character-form" [formGroup]="characterForm">
  <div>
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText formControlName="name" />
      <label for="float-input">Имя</label>
    </span>
  </div>
</div>
<br />
<p-button label="Добавить" (click)="onAddcharacter()"></p-button>

<h1>Таблица с данными</h1>

<p-table
  #dt
  class="character-list"
  [value]="characters"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [filterDelay]="0"
  [globalFilterFields]="['name']"
>
<ng-template pTemplate="caption">
  <div class="character-list_header">
    Список characters
      <p-button icon="pi pi-refresh" (click)="onRefresh()"></p-button>
  <!-- <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      pInputText
      type="text"
      (input)="dt.filterGlobal($event.target.value, 'contains')"
      placeholder="Поиск"
    />
  </span> -->
  </div>
</ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th class="character-list_name" field="name" pSortableColumn="name">
        Name
      </th>
      <th class="character-list_resources" field="resources">Resources</th>
      <th class="character-list_options"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-character>
    <tr>
      <td class="character-list_name">
        <span class="p-column-title">Имя</span>
        {{ character.name }}
      </td>
      <td class="user-list_resources">
        <span class="p-column-title">Resources</span>
        <div *ngFor="let resource of character.resources">
          <p> id: {{resource.id}} </p>
          <p> name: {{resource.name}} </p>
          <p> value: {{resource.value}} </p>
        </div>
      </td>
      <td class="character-list_options">
        <p-button (click)="onRemove(character)">
          <i class="pi pi-trash"></i>
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<h1>Редактировать объект</h1>
<p-dropdown [options]="charactersList" [(ngModel)]="selectedcharacter"  (ngModelChange)="oncharacterChange()" optionLabel="name"></p-dropdown>
<p-card>
  <ng-template pTemplate="header">
      Информация об обекте
  </ng-template>
  <div *ngIf="!selectedcharacter">
    <p>Объект не выбран</p>
  </div>
  <div *ngIf="selectedcharacter">
    <p><b>Имя:</b> {{onecharacter.name}} </p>

    <p-button (click)="onRemove(onecharacter)">
      <i class="pi pi-trash"></i>
    </p-button>
    <p-button (click)="onEdit(onecharacter)">
      <i class="pi pi-character-edit"></i>
    </p-button>

  </div>
  <div *ngIf="editcharacterForm">
    <div class="character-form" [formGroup]="editcharacterForm">
          <input id="float-input" type="text" pInputText formControlName="id" type="hidden" />
      <div>
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText formControlName="name" />
          <label for="float-input">Имя</label>
        </span>
      </div>
    </div>
    <br />
    <p-button label="Обновить" (click)="onEditcharacter()"></p-button>
  </div>
  <ng-template pTemplate="footer">
      Footer content here
  </ng-template>
</p-card>